openapi: 3.0.0
info:
  contact:
    email: stelzo@steado.de
    name: Survival
    url: https://discord.gg/3EtHskZD8h
  description: "# Open Ankama Developer Community\nThe all-in-one toolbelt for your\
    \ next Ankama related project.\n\n## Versions\n- [Dofus 2](https://docs.dofusdu.de/dofus2/)\n\
    - [Dofus 3](https://docs.dofusdu.de/dofus3/)\n  - v1 [latest] (you are here) \n\
    \n## Client SDKs\n- [Javascript](https://github.com/dofusdude/dofusdude-js) `npm\
    \ i dofusdude-js --save`\n- [Typescript](https://github.com/dofusdude/dofusdude-ts)\
    \ `npm i dofusdude-ts --save`\n- [Go](https://github.com/dofusdude/dodugo) `go\
    \ get -u github.com/dofusdude/dodugo`\n- [Python](https://github.com/dofusdude/dofusdude-py)\
    \ `pip install dofusdude`\n- [Java](https://github.com/dofusdude/dofusdude-java)\
    \ Maven with GitHub packages setup\n\nEverything, including this site, is generated\
    \ out of the [Docs Repo](https://github.com/dofusdude/api-docs). Consider it the\
    \ Single Source of Truth. If there is a problem with the SDKs, create an issue\
    \ there.\n\nYour favorite language is missing? Please let me know!\n\n# Main Features\n\
    - 🥷 **Seamless Auto-Update** load data in the background when a new Dofus version\
    \ is released and serving it within 10 minutes with atomic data source switching.\
    \ No downtime and no effects for the user, just always up-to-date.\n\n- ⚡ **Blazingly\
    \ Fast** all data in-memory, aggressive caching over short time spans, HTTP/2\
    \ multiplexing, written in Go, optimized for low latency, hosted on bare metal\
    \ in 🇩🇪.\n\n- 📨 **Almanax Discord Integration** Use the endpoints as a dev\
    \ or the official [Web Client](https://discord.dofusdude.com) as a user.\n\n-\
    \ 🩸 **Dofus 3 Beta** from stable to bleeding edge by replacing /dofus3 with /dofus3beta.\n\
    \n- 🗣️ **Multilingual** supporting _en_, _fr_, _es_, _pt_, _de_.\n\n- 🧠 **Search\
    \ by Relevance** allowing typos in name and description, handled by language specific\
    \ text analysis and indexing.\n\n- 🕵️ **Official Sources** generated from actual\
    \ data from the game.\n\n... and much more on the Roadmap on my [Discord](https://discord.gg/3EtHskZD8h).\n"
  license:
    name: GPL-3.0
    url: https://github.com/dofusdude/doduapi/blob/main/LICENSE
  title: dofusdude
  version: 1.0.0-rc.6
servers:
- description: API
  url: https://api.dofusdu.de
tags:
- description: The Dofus Almanax
  name: almanax
- description: Consumable Items
  name: consumables
- description: Cosmetic Equipment
  name: cosmetics
- description: Weapons and Equipment
  name: equipment
- description: General Overview Endpoints
  name: game
- description: Metadata for using the API more efficiently
  name: meta
- description: Mounts
  name: mounts
- description: Quest Items
  name: quest items
- description: Resources
  name: resources
- description: Sets
  name: sets
- description: Actively calling you for updates for various events
  name: webhooks
paths:
  /{game}/v1/{language}/items/search:
    get:
      description: Search in all names and descriptions of Dofus items (including
        all subtypes) with a query.
      operationId: get-items-all-search
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          example: fr
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: case sensitive search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: atcham
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 190
          format: int32
          maximum: 200
          minimum: 0
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 200
          format: int32
          maximum: 200
          minimum: 0
          type: integer
        style: form
      - description: maximum number of returned results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 8
          example: 8
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - boots
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                items:
                  $ref: '#/components/schemas/ListItemGeneral'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Search All Items
      tags:
      - game
      x-stoplight:
        id: eeoi1h7wagrmw
  /{game}/v1/{language}/mounts/search:
    get:
      description: Search in all names and descriptions of mounts with a query.
      operationId: get-mounts-search
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          example: fr
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: case sensitive search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: Dorée
          type: string
        style: form
      - description: only results with the translated family name
        explode: true
        in: query
        name: "filter[family.name]"
        required: false
        schema:
          example: Dragodinde
          type: string
        style: form
      - description: maximum number of returned results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 8
          example: 8
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: only results with the unique family id
        explode: true
        in: query
        name: "filter[family.id]"
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                items:
                  $ref: '#/components/schemas/Mount'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Search Mounts
      tags:
      - mounts
      x-stoplight:
        id: 55fkjddmfhh7n
  /{game}/v1/{language}/sets/search:
    get:
      description: Search in all names and descriptions of sets with a query.
      operationId: get-sets-search
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: case sensitive search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: Des
          type: string
        style: form
      - description: only results where the equipment with the highest level is above
          or equal to this value
        explode: true
        in: query
        name: "filter[min_highest_equipment_level]"
        required: false
        schema:
          example: 195
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: only results where the equipment with the highest level is below
          or equal to this value
        explode: true
        in: query
        name: "filter[max_highest_equipment_level]"
        required: false
        schema:
          example: 200
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: maximum number of returned results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 8
          example: 8
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "filter sets based on if they only got cosmetic items in it.\
          \ If true, the item ids are for the cosmetic endpoints instead of equipment."
        explode: true
        in: query
        name: "filter[contains_cosmetics_only]"
        required: false
        schema:
          type: boolean
        style: form
      - description: filter sets based on if they got any cosmetic items in it
        explode: true
        in: query
        name: "filter[contains_cosmetics]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                items:
                  $ref: '#/components/schemas/ListEquipmentSet'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Search Sets
      tags:
      - sets
      x-stoplight:
        id: 7pwfbuzuxnnuq
  /{game}/v1/{language}/items/quest/search:
    get:
      description: Search in all names and descriptions of quest items with a query.
      operationId: get-items-quest-search
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          example: es
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: case sensitive search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: Ficha
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 60
          format: int32
          maximum: 200
          minimum: 0
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 70
          format: int32
          maximum: 200
          minimum: 0
          type: integer
        style: form
      - description: maximum number of returned results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 8
          example: 8
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - vigilantes
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListItem'
                type: array
          description: Quest Items Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Search Quest Items
      tags:
      - quest items
      x-stoplight:
        id: e7dmshthuyg5m
  /{game}/v1/{language}/items/consumables/search:
    get:
      description: Search in all names and descriptions of consumable items with a
        query.
      operationId: get-items-consumables-search
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: case sensitive search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: Wholewrite
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 1
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 200
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: maximum number of returned results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 8
          example: 8
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - bread
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                items:
                  $ref: '#/components/schemas/ListItem'
                type: array
          description: Consumables Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Search Consumables
      tags:
      - consumables
      x-stoplight:
        id: 6ogh4aj4k3vns
  /{game}/v1/{language}/items/resources/search:
    get:
      description: Search in all names and descriptions of resource items with a query.
      operationId: get-items-resource-search
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: case sensitive search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: snowdew
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 150
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 200
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: maximum number of returned results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 8
          example: 8
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - plant
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                items:
                  $ref: '#/components/schemas/ListItem'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Search Resources
      tags:
      - resources
      x-stoplight:
        id: l2f1uw9hdicac
  /{game}/v1/{language}/search:
    get:
      description: Search in all names and descriptions of all supported types in
        the game. For the list of supported types see the endpoint /dofus3/meta/search/types.
      operationId: get-game-search
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: paztek
          type: string
        style: form
      - description: only results with all specific type
        explode: false
        in: query
        name: "filter[search_index]"
        required: false
        schema:
          example:
          - items-equipment
          items:
            enum:
            - items-consumables
            - items-cosmetics
            - items-resources
            - items-equipment
            - items-quest_items
            - mounts
            - sets
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: maximum number of returned results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 8
          example: 8
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: adds fields from the item search to the list entries if the hit
          is a item. Multiple comma separated values allowed.
        explode: false
        in: query
        name: "fields[item]"
        required: false
        schema:
          example:
          - level
          items:
            enum:
            - level
            - image_urls
            - type
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: "multi-filter results with the english item type name, including\
          \ \"mount\" and \"set\" from filter[type]. Add with \"wood\" or \"+wood\"\
          \ and exclude with \"-wood\"."
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - boots
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                items:
                  $ref: '#/components/schemas/GameSearch'
                type: array
                x-examples:
                  Example 1:
                  - name: Paztek Sandals
                    ankama_id: 20463
                    type: items-equipment
                  - name: Paztek Mask
                    ankama_id: 20465
                    type: items-equipment
                  - name: Paztek Cloak
                    ankama_id: 20464
                    type: items-equipment
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Game Search
      tags:
      - game
      x-stoplight:
        id: zxx3tt0z25gz8
  /{game}/v1/{language}/items/equipment/search:
    get:
      description: Search in all names and descriptions of equipment items with a
        query.
      operationId: get-items-equipment-search
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: case sensitive search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: nidas
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 150
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 200
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: maximum number of returned results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 8
          example: 8
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - boots
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                items:
                  $ref: '#/components/schemas/ListItem'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Search Equipment
      tags:
      - equipment
      x-stoplight:
        id: 4lzcb55gkjj2z
  /{game}/v1/{language}/items/cosmetics/search:
    get:
      description: Search in all names and descriptions of cosmetic items with a query.
      operationId: get-cosmetics-search
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: case sensitive search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: nedora
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 1
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 2
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: maximum number of returned results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 8
          example: 8
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - wings
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                items:
                  $ref: '#/components/schemas/ListItem'
                type: array
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Search Cosmetics
      tags:
      - cosmetics
      x-stoplight:
        id: mw8gyg65z17wf
  /{game}/v1/{language}/items/cosmetics/{ankama_id}:
    get:
      description: Retrieve a specific cosmetic item with id.
      operationId: get-cosmetics-single
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: identifier
        explode: false
        in: path
        name: ankama_id
        required: true
        schema:
          example: 24132
          type: integer
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Equipment'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Single Cosmetics
      tags:
      - cosmetics
      x-internal: false
      x-stoplight:
        id: a0ks17l0zqqaj
  /{game}/v1/{language}/items/resources/{ankama_id}:
    get:
      description: Retrieve a specific resource item with id.
      operationId: get-items-resources-single
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: identifier
        explode: false
        in: path
        name: ankama_id
        required: true
        schema:
          example: 7295
          type: integer
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Resource'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Single Resources
      tags:
      - resources
      x-stoplight:
        id: viqn5ujmwoi9s
  /{game}/v1/{language}/items/equipment/{ankama_id}:
    get:
      description: Retrieve a specific equipment item with id.
      operationId: get-items-equipment-single
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: identifier
        explode: false
        in: path
        name: ankama_id
        required: true
        schema:
          example: 26009
          type: integer
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Weapon'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Single Equipment
      tags:
      - equipment
      x-stoplight:
        id: e2j6pr8n8112g
  /{game}/v1/{language}/items/consumables/{ankama_id}:
    get:
      description: Retrieve a specific consumable item with id.
      operationId: get-items-consumables-single
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: identifier
        explode: false
        in: path
        name: ankama_id
        required: true
        schema:
          example: 17206
          type: integer
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Resource'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Single Consumables
      tags:
      - consumables
      x-stoplight:
        id: n40tefsprc7oq
  /{game}/v1/{language}/items/quest/{ankama_id}:
    get:
      description: Retrieve a specific quest item with id.
      operationId: get-item-quest-single
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: identifier
        explode: false
        in: path
        name: ankama_id
        required: true
        schema:
          example: 25256
          type: integer
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Resource'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Single Quest Items
      tags:
      - quest items
      x-stoplight:
        id: 74dxhpw46pxzc
  /{game}/v1/{language}/mounts/{ankama_id}:
    get:
      description: Retrieve a specific mount with id.
      operationId: get-mounts-single
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: identifier
        explode: false
        in: path
        name: ankama_id
        required: true
        schema:
          example: 180
          type: integer
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Mount'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Single Mounts
      tags:
      - mounts
      x-stoplight:
        id: pzqoy2btp2qkn
  /{game}/v1/{language}/sets/{ankama_id}:
    get:
      description: Retrieve a specific set with id.
      operationId: get-sets-single
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: identifier
        explode: false
        in: path
        name: ankama_id
        required: true
        schema:
          example: 499
          type: integer
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/EquipmentSet'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: Single Sets
      tags:
      - sets
      x-stoplight:
        id: 7h3o04n689qab
  /{game}/v1/{language}/sets:
    get:
      description: Retrieve a list of sets.
      operationId: get-sets-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: only results where the equipment with the highest level is above
          or equal to this value
        explode: true
        in: query
        name: "filter[min_highest_equipment_level]"
        required: false
        schema:
          example: 190
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: only results where the equipment with the highest level is below
          or equal to this value
        explode: true
        in: query
        name: "filter[max_highest_equipment_level]"
        required: false
        schema:
          example: 200
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: size of the results from the list. -1 disables pagination and
          gets all in one response.
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          example: 20
          format: int32
          minimum: -1
          type: integer
        style: form
      - description: "page number based on the current page[size]. So you could get\
          \ page 1 with 8 entrys and page 2 would have entries 8 to 16."
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          example: 1
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: adds fields from their detail endpoint to the item list entries.
          Multiple comma separated values allowed.
        explode: false
        in: query
        name: "fields[set]"
        required: false
        schema:
          example:
          - equipment_ids
          items:
            enum:
            - effects
            - equipment_ids
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: "filter sets based on if they only got cosmetic items in it.\
          \ If true, the item ids are for the cosmetic endpoints instead of equipment."
        explode: true
        in: query
        name: "filter[contains_cosmetics_only]"
        required: false
        schema:
          type: boolean
        style: form
      - description: filter sets based on if they got cosmetic items in it.
        explode: true
        in: query
        name: "filter[contains_cosmetics]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEquipmentSets'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List Sets
      tags:
      - sets
      x-stoplight:
        id: s3zlet293u7sh
  /{game}/v1/{language}/mounts:
    get:
      description: Retrieve a list of mounts.
      operationId: get-mounts-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: only results with the translated family name
        explode: true
        in: query
        name: "filter[family.name]"
        required: false
        schema:
          example: Dragoturkey
          type: string
        style: form
      - description: size of the results from the list. -1 disables pagination and
          gets all in one response.
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          example: 10
          minimum: -1
          type: integer
        style: form
      - description: "page number based on the current page[size]. So you could get\
          \ page 1 with 8 entrys and page 2 would have entries 8 to 16."
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          example: 1
          minimum: 0
          type: integer
        style: form
      - description: adds fields from their detail endpoint to the item list entries.
          Multiple comma separated values allowed.
        explode: false
        in: query
        name: "fields[mount]"
        required: false
        schema:
          example:
          - effects
          items:
            enum:
            - effects
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: only results with the unique family id
        explode: true
        in: query
        name: "filter[family.id]"
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/ListMounts'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List Mounts
      tags:
      - mounts
      x-stoplight:
        id: gy9ldukmg67hy
  /{game}/v1/{language}/items/equipment:
    get:
      description: Retrieve a list of equipment items.
      operationId: get-items-equipment-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: desc
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 10
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 60
          minimum: 0
          type: integer
        style: form
      - description: size of the results from the list. -1 disables pagination and
          gets all in one response.
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          example: 5
          minimum: -1
          type: integer
        style: form
      - description: "page number based on the current page[size]. So you could get\
          \ page 1 with 8 entrys and page 2 would have entries 8 to 16."
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          example: 1
          minimum: 0
          type: integer
        style: form
      - description: adds fields from their detail endpoint to the item list entries.
          Multiple comma separated values allowed.
        explode: false
        in: query
        name: "fields[item]"
        required: false
        schema:
          example:
          - is_weapon
          items:
            enum:
            - recipe
            - description
            - conditions
            - effects
            - is_weapon
            - pods
            - parent_set
            - critical_hit_probability
            - critical_hit_bonus
            - max_cast_per_turn
            - ap_cost
            - range
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - sword
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItems'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List Equipment
      tags:
      - equipment
      x-stoplight:
        id: z7ihi4fuba4rk
  /{game}/v1/{language}/items/resources:
    get:
      description: Retrieve a list of resource items.
      operationId: get-items-resources-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: desc
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 160
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 190
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: size of the results from the list. -1 disables pagination and
          gets all in one response.
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          example: 10
          minimum: -1
          type: integer
        style: form
      - description: "page number based on the current page[size]. So you could get\
          \ page 1 with 8 entrys and page 2 would have entries 8 to 16."
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          example: 1
          minimum: 0
          type: integer
        style: form
      - description: adds fields from their detail endpoint to the item list entries.
          Multiple comma separated values allowed.
        explode: false
        in: query
        name: "fields[item]"
        required: false
        schema:
          example:
          - recipe
          items:
            enum:
            - recipe
            - description
            - conditions
            - effects
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - wood
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItems'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List Resources
      tags:
      - resources
      x-stoplight:
        id: z2jx5o5pjumhs
  /{game}/v1/{language}/items/consumables:
    get:
      description: Retrieve a list of consumable items.
      operationId: get-items-consumables-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 150
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 180
          type: integer
        style: form
      - description: size of the results from the list. -1 disables pagination and
          gets all in one response.
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          example: 2
          minimum: -1
          type: integer
        style: form
      - description: "page number based on the current page[size]. So you could get\
          \ page 1 with 8 entrys and page 2 would have entries 8 to 16."
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          example: 1
          minimum: 0
          type: integer
        style: form
      - description: adds fields from their detail endpoint to the item list entries.
          Multiple comma separated values allowed.
        explode: false
        in: query
        name: "fields[item]"
        required: false
        schema:
          example:
          - recipe
          items:
            enum:
            - recipe
            - description
            - conditions
            - effects
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - chest
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItems'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List Consumables
      tags:
      - consumables
      x-stoplight:
        id: g2xcp6fribgyf
  /{game}/v1/{language}/items/quest:
    get:
      description: Retrieve a list of quest items.
      operationId: get-items-quest-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          example: fr
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: desc
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 1
          format: int32
          maximum: 200
          minimum: 0
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 50
          format: int32
          maximum: 200
          minimum: 0
          type: integer
        style: form
      - description: size of the results from the list. -1 disables pagination and
          gets all in one response.
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          example: 5
          minimum: -1
          type: integer
        style: form
      - description: "page number based on the current page[size]. So you could get\
          \ page 1 with 8 entrys and page 2 would have entries 8 to 16."
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          example: 1
          minimum: 0
          type: integer
        style: form
      - description: adds fields from their detail endpoint to the item list entries.
          Multiple comma separated values allowed.
        explode: false
        in: query
        name: "fields[item]"
        required: false
        schema:
          example:
          - recipe
          items:
            enum:
            - recipe
            - description
            - conditions
            - effects
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - sufokia
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItems'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List Quest Items
      tags:
      - quest items
      x-stoplight:
        id: qsq51akecj0r0
  /{game}/v1/{language}/items/cosmetics:
    get:
      description: Retrieve a list of cosmetic items.
      operationId: get-cosmetics-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          example: fr
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 5
          type: integer
        style: form
      - description: size of the results from the list. -1 disables pagination and
          gets all in one response.
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          example: 5
          minimum: -1
          type: integer
        style: form
      - description: "page number based on the current page[size]. So you could get\
          \ page 1 with 8 entrys and page 2 would have entries 8 to 16."
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          example: 1
          minimum: 0
          type: integer
        style: form
      - description: adds fields from their detail endpoint to the item list entries.
          Multiple comma separated values allowed.
        explode: false
        in: query
        name: "fields[item]"
        required: false
        schema:
          example:
          - recipe
          items:
            enum:
            - recipe
            - description
            - conditions
            - effects
            - is_weapon
            - pods
            - parent_set
            - critical_hit_probability
            - critical_hit_bonus
            - max_cast_per_turn
            - ap_cost
            - range
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItems'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List Cosmetics
      tags:
      - cosmetics
      x-stoplight:
        id: mlmwp9s8utn2j
  /{game}/v1/{language}/mounts/all:
    get:
      description: |-
        Retrieve all mounts with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      operationId: get-all-mounts-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: only results with the translated family name
        explode: true
        in: query
        name: "filter[family.name]"
        required: false
        schema:
          example: Dragoturkey
          type: string
        style: form
      - description: optional compression for saving bandwidth
        explode: false
        in: header
        name: Accept-Encoding
        required: false
        schema:
          enum:
          - gzip
          type: string
        style: simple
      - description: only results with the unique family id
        explode: true
        in: query
        name: "filter[family.id]"
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMounts'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List All Mounts
      tags:
      - mounts
      x-stoplight:
        id: 35hwizajcz3g7
  /{game}/v1/{language}/sets/all:
    get:
      description: |-
        Retrieve all sets with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      operationId: get-all-sets-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: only results where the equipment with the highest level is above
          or equal to this value
        explode: true
        in: query
        name: "filter[min_highest_equipment_level]"
        required: false
        schema:
          example: 190
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: only results where the equipment with the highest level is below
          or equal to this value
        explode: true
        in: query
        name: "filter[max_highest_equipment_level]"
        required: false
        schema:
          example: 200
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: optional compression for saving bandwidth
        explode: false
        in: header
        name: Accept-Encoding
        required: false
        schema:
          enum:
          - gzip
          type: string
        style: simple
      - description: "filter sets based on if they only got cosmetic items in it.\
          \ If true, the item ids are for the cosmetic endpoints instead of equipment."
        explode: true
        in: query
        name: "filter[contains_cosmetics_only]"
        required: false
        schema:
          type: boolean
        style: form
      - description: filter sets based on if they got cosmetic items in it.
        explode: true
        in: query
        name: "filter[contains_cosmetics]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                defaults:
                  value:
                    _links:
                      first: null
                      prev: null
                      next: null
                      last: null
                    sets:
                    - ankama_id: 0
                      name: string
                      items: 0
                      level: 0
              schema:
                $ref: '#/components/schemas/ListEquipmentSets'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List All Sets
      tags:
      - sets
      x-stoplight:
        id: rzxp5sotapqe6
  /{game}/v1/{language}/items/cosmetics/all:
    get:
      description: |-
        Retrieve all cosmetic items with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      operationId: get-all-cosmetics-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          example: fr
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 5
          type: integer
        style: form
      - description: optional compression for saving bandwidth
        explode: false
        in: header
        name: Accept-Encoding
        required: false
        schema:
          enum:
          - gzip
          type: string
        style: simple
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - boots
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItems'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List All Cosmetics
      tags:
      - cosmetics
      x-stoplight:
        id: 07si7hjof1qpt
  /{game}/v1/{language}/items/quest/all:
    get:
      description: |-
        Retrieve all quest items with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      operationId: get-all-items-quest-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          example: fr
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: desc
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 1
          format: int32
          maximum: 200
          minimum: 0
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 50
          format: int32
          maximum: 200
          minimum: 0
          type: integer
        style: form
      - description: optional compression for saving bandwidth
        explode: false
        in: header
        name: Accept-Encoding
        required: false
        schema:
          enum:
          - gzip
          type: string
        style: simple
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - boots
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItems'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List All Quest Items
      tags:
      - quest items
      x-stoplight:
        id: mgmt97sgtrhja
  /{game}/v1/{language}/items/consumables/all:
    get:
      description: |-
        Retrieve all consumable items with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      operationId: get-all-items-consumables-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 150
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 180
          type: integer
        style: form
      - description: optional compression for saving bandwidth
        explode: false
        in: header
        name: Accept-Encoding
        required: false
        schema:
          enum:
          - gzip
          type: string
        style: simple
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - boots
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItems'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List All Consumables
      tags:
      - consumables
      x-stoplight:
        id: llcg4hmp9wucr
  /{game}/v1/{language}/items/resources/all:
    get:
      description: |-
        Retrieve all resource items with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      operationId: get-all-items-resources-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: desc
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 160
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 190
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: optional compression for saving bandwidth
        explode: false
        in: header
        name: Accept-Encoding
        required: false
        schema:
          enum:
          - gzip
          type: string
        style: simple
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - boots
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItems'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List All Resources
      tags:
      - resources
      x-stoplight:
        id: 1wtcbwhh04jmq
  /{game}/v1/{language}/items/equipment/all:
    get:
      description: |-
        Retrieve all equipment items with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      operationId: get-all-items-equipment-list
      parameters:
      - description: a valid language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - es
          - pt
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
          enum:
          - dofus3
          - dofus3beta
          example: dofus3beta
          type: string
        style: simple
      - description: "sort the resulting list by level, default unsorted"
        explode: true
        in: query
        name: "sort[level]"
        required: false
        schema:
          enum:
          - asc
          - desc
          example: desc
          type: string
        style: form
      - description: only results which level is equal or above this value
        explode: true
        in: query
        name: "filter[min_level]"
        required: false
        schema:
          example: 10
          type: integer
        style: form
      - description: only results which level is equal or below this value
        explode: true
        in: query
        name: "filter[max_level]"
        required: false
        schema:
          example: 60
          minimum: 0
          type: integer
        style: form
      - description: optional compression for saving bandwidth
        explode: false
        in: header
        name: Accept-Encoding
        required: false
        schema:
          enum:
          - gzip
          type: string
        style: simple
      - description: multi-filter results with the english type name. Add with "wood"
          or "+wood" and exclude with "-wood".
        explode: false
        in: query
        name: "filter[type.name_id]"
        required: false
        schema:
          example:
          - boots
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItems'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      summary: List All Equipment
      tags:
      - equipment
      x-stoplight:
        id: wbxzhlcid1l0w
  /dofus2/{language}/almanax:
    get:
      description: "Get a range of dates, defaults to today + 6 following days but\
        \ can specified by the query parameters. \n\nfilter[bonus_type] can be used\
        \ seperately and does not have an effect on the other parameters.\n\nrange[from]\
        \ changes the start date, everything else defaults to 6 following dates from\
        \ this start date.\n\nrange[to] when used without anything else, it will use\
        \ today as start date and this parameter as end. All ranges are inclusive.\n\
        \nrange[from] + range[to] = inclusive range over the specified dates, should\
        \ never be farther apart than 35 days.\n\nrange[from|to] + range[size] no\
        \ need to specify the date, just following days with [from] (0 is today) or\
        \ go backwards in time with only [to] and [size].\n\nNot all combinations\
        \ are listed but this should give you an idea how to they could work."
      operationId: get-almanax-range
      parameters:
      - description: code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - it
          - es
          example: fr
          type: string
        style: simple
      - description: "ids from meta/{language}/almanax/bonuses"
        explode: true
        in: query
        name: "filter[bonus_type]"
        required: false
        schema:
          example: experience-points
          type: string
        style: form
      - description: yyyy-mm-dd
        explode: true
        in: query
        name: "range[from]"
        required: false
        schema:
          example: 2016-09-15
          format: date
          type: string
        style: form
      - description: yyyy-mm-dd
        explode: true
        in: query
        name: "range[to]"
        required: false
        schema:
          example: 2016-09-28
          format: date
          type: string
        style: form
      - description: size of the returned range
        explode: true
        in: query
        name: "range[size]"
        required: false
        schema:
          example: -1
          format: int32
          maximum: 370
          minimum: -1
          type: integer
        style: form
      - description: "determine what the current time is. If you live in Brazil, \"\
          today\" will be hours apart from Paris. Use your timezone to get results\
          \ relative to your location."
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: Europe/Paris
          example: Europe/Paris
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                items:
                  $ref: '#/components/schemas/Almanax'
                type: array
          description: ""
      summary: Almanax Range
      tags:
      - almanax
      x-stoplight:
        id: fy8l7o3sz1jyo
  /dofus2/{language}/almanax/{date}:
    get:
      description: Get a single date. There are not more details in the returned object
        than the normal range endpoint.
      operationId: get-almanax-date
      parameters:
      - description: code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - en
          - fr
          - de
          - it
          - es
          example: fr
          type: string
        style: simple
      - description: yyyy-mm-dd
        explode: false
        in: path
        name: date
        required: true
        schema:
          example: 2020-07-14
          format: date
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Almanax'
          description: ""
      summary: Single Almanax Date
      tags:
      - almanax
      x-stoplight:
        id: d0000xjgaenyh
  /dofus3beta/v1/meta/elements:
    get:
      description: Get the mappings for all specific elements that are linked in the
        dataset. All names are english. Translations are not needed because of a global
        unique id which is the index inside the array. Future elements will get a
        higher id.
      operationId: get-meta-elements
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                id = index:
                  value:
                  - Vitality
                  - Intelligence
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Effects and Condition Elements
      tags:
      - meta
      x-stoplight:
        id: 4oyiu8nbwwgds
  /{game}/v1/meta/version:
    get:
      description: The current game version of the hosted data.
      operationId: get-meta-version
      parameters:
      - description: game main 'dofus3' or beta channel 'dofus3beta'
        explode: false
        in: path
        name: game
        required: true
        schema:
[...]
